{% extends 'layout/base.html' %}

{% block content %}
<form class="light-green-box" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <fieldset>
      <legend>Login</legend>
      {% for field in form %}
      <p>
        <label 
          {% if field.field.required %}class="required"{% endif %}
          for="{{ field.id_for_label }}"
        >
        {{ field.label }}
        </label>
        {{ field.errors }}
        {{ field }}
      </p>
      {% endfor %}
      <button type="submit" class="btn clear">Login</button>
    </fieldset>
{% endblock %}
