{% extends 'layout/messages.html' %}

{% block content %}
<h3 class="text-center">{{ page_title }}</h3>
{% if messages %}
  <table class=table>
    <thead>
    {% block headers %}
      <th>Subject</th>
      <th>From</th>
      <th>Sent</th>
    {% endblock %}
    </thead>
    <tbody>
    {% block rows %}
    {% for message in messages %}
      <tr>
        <td>
          <a href="{% url 'member-message-detail' message.id %}">
            {{ message.subject }}
          </a>
        </td>
        <td>{{ message.sender.handle }}</td>
        <td>{{ message.timestamp }}</td>
      </tr>
    {% endfor %}
    {% endblock %}
    </tbody>
  </table>
{% else %}
  <p class="text-center">No messages to display.</p>
{% endif %}
{% endblock %}