{% extends 'layout/base.html' %}

{% block content %}
<form class="light-green-box member-register" method="post" action="{% url 'member-register' %}">
    {% csrf_token %}
    <fieldset>
      <legend>New Member</legend>
      <p>Membership will allow you to come back to any unlocked screens.</p>
      <p>Login is done passwordless using an auth code that will be sent to your phone.</p>
      <p>Your handle may become visible to other members.</p>
      <p>All other fields will only be visible to SysOp and staff.</p>
      {% for field in form %}
      <p>
        <label 
          {% if field.field.required %}class="required"{% endif %}
          for="{{ field.id_for_label }}"
        >
        {{ field.label }}
        </label>
        {{ field.errors }}
        {{ field }}
      </p>
      {% endfor %}
      <input type="submit" class="btn clear" value="< Register >" />
    </fieldset>
</form>
{% endblock %}
