{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <script>
      _386 = { onePass: true, speedFactor: 1.25 };
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andrew BBS {% if page_title %} - {{page_title}} {% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/386/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/386/bootstrap-responsive.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <body>
    <div class="container-fluid">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="nav">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="/">ANDREW BBS</a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
    
      <div class="content">
        <div class="row-fluid">
          <div class="col span12">
            <div class="ascii-header">
              <img class="no-filter" src="{% static 'img/andrew-bbs-grey.png' %}" />
            </div>
          </div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
  </body>

</html>
