{% extends "layout/base.html" %}

{% block content %}
<h3 class="text-center">Screens Unlocked</h3>
{% if request.user.is_authenticated == False %}
  <div class="alert alert-notice">
    You can now <a href="{% url 'member-login' %}">Login to the server</a>. <br />
    To save your screen list <a href="{% url 'member-register' %}">Join the server</a>.
  </div>
{% endif %}
<table class=table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
{% for screen in screen_list %}
    <tr>
      <td>
        <a href="{% url 'screen-detail' screen.slug %}">
          {{ screen.title }}
        </a>
      </td>
      <td>{{ screen.updated_at }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<a href="{% url 'access' %}" class="btn">Enter New Access Code</a>
{% endblock %}
