{% extends "layout/base.html" %}

{% block content %}
<h3 class="text-center">Your Screens</h3>
<table class=table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Last Updated</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
{% for screen in screen_list %}
    <tr>
      <td>
        <a href="{% url 'screen-edit-detail' screen.pk %}">
          {{ screen.title }}
        </a>
      </td>
      <td>{{ screen.updated_at }}</td>
      <td>{{ screen.created_at }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<a href="{% url 'access' %}" class="btn">Create New Screen</a>
{% endblock %}
