{% extends 'layout/base.html' %}

{% block content %}
  <div class="row-fluid">
    <div class="col span12">
      <div class="centered-box text-center light-green-box">
        <form class="form" method="POST" action="">
          {% csrf_token %}
          <div class="control-group">
            <div class="controls">
                <label class="info">Enter Access Code</label>
            <input type="text" id="code" name="code" />
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
