{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <script>
      _386 = { onePass: true, speedFactor: 1.25 };
    </script>

    <meta charset="UTF-8">
    <meta property="og:title" content="Andrew BBS {% if page_title %} - {{page_title}} {% endif %}" />
    <meta property="og:image" content="{{request.scheme}}://{{request.META.HTTP_HOST}}{% static 'img/andrew-bbs-screenshot.png' %}" />
    <title>Andrew BBS {% if page_title %} - {{page_title}} {% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/386/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/386/bootstrap-responsive.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="navbar-container">
            <div class="nav nav-items">
                <ul class="nav navbar-nav home-item">
                  <li>
                      <a href="/">ANDREW BBS</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                {% if request.user.is_authenticated %}
                  <li class="divider-vertical"></li>
                  <li class="nav-item">
                    <a class="{% if request.user.has_unread_messages %}attention{% endif %}" href="{% url 'member-message-inbox' %}">Messages</a>
                  </li>
                  <li class="divider-vertical"></li>
                  <li class="nav-item">
                    <a class="" href="{% url 'access-code-list' %}">Create</a>
                  </li>
                  <li class="divider-vertical"></li>
                  <li class="nav-item">
                    <a href="{% url 'member-logout' %}">Logout</a>
                  </li>
                  <li class="divider-vertical"></li>
                {% endif %}
                </ul>
            </div>
          </div>
        </div>
      </div>
    
      <div class="content">
        <div class="row-fluid user-welcome">
          {% if request.user.is_authenticated %}
            <span class="pull-right user-welcome-text">Welcome, {{request.user.handle}}!</span>
          {% endif %}
        </div>
        <div class="row-fluid">
          <div class="col span12">
            <div class="ascii-header">
              <a href="/">
                <img class="no-filter" src="{% static 'img/andrew-bbs-grey.png' %}" />
              </a>
            </div>
          </div>
        </div>

       {% block main %}{% endblock %}

      </div>
    </div>
    <script src="{% static 'js/app.js' %}"></script>
  </body>

</html>
